/* ********************************
Colour Coding
Navbar - #F76C6C (dark pink)
Background - #ffe2e6 (pink)
Footer -  #374885 (blue)
Footer links -  #f8e9a1 (yellow)
Footer links hover - #F76C6C (dark pink)

******************************** */


<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
</style>

html{
    scroll-behavior:smooth;
}
* {
    box-sizing: border-box;
}

.colorr{
  background: black !important;
}


body {
  padding-top: 100px;
  margin: 0;
  background-color: #ffe2e6;
  margin:0;
  font-family: Helvetica, Sans-Serif;
}


/* *********** NAVBAR *************  */

.navbar {
    justify-content: space-between;
    background-color: #F76C6C;
}

.navbar .hov{
  transition: all .2s ease-in-out;
}

.navbar .hov:hover{
  transform: scale(1.1);
}

.navbar a{
  color:white
}

.navbar-nav {
    height: 100%;
}

.navbar-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    list-style: none;
}

.navbar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: all .2s ease-in-out;
}

.navbar-nav li a:hover {
    background-color: #374785;
    transform: scale(1.1)
}

/* ********************************  */

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-nav {
        display: none;
        width: 100%;
    }

    .navbar-nav ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-nav ul li {
        text-align: center;
    }

    .navbar-nav ul li a {
        padding: .5rem 1rem;
    }

    .navbar-nav.active {
        display: flex;
    }

}
ul{
    text-align: center;
    padding: 0;
}


li{
    display:inline;
    color: white;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.mainHeader{
    background-color: #ffe2e6;
    height: 250px;
    text-align: center;
    margin-bottom:20px;
}
h1{
    padding-top: 50px;
    text-align: center;
}
h2{
    padding-top: 5px;

}
p{
    font-size: 16;
}


.cardElement{
    background-color:  #ffe2e6;
    width: 500px;
    margin:auto;

}

/* *********** FOOTER *************  */


.site-footer
{
  background-color: #374785;
  padding:30px 0 20px;
  font-size:15px;
  line-height:65px;
  color: white;
  padding-bottom:40px
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color: #f8e9a1;
}

.site-footer a:hover
{
  color:#f76c6c;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:22px;
  display:inline-block;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  padding-top:9px;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  margin:10px
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe;
  transform: scale(1.5);
}
.social-icons.size-sm a
{
  line-height:10px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* **************************************  */
/* *********** SignUp Pages *************  */
/* **************************************  */

.middle{
	width:40%;
	border:1px solid black;
	border-radius: 15px;
	margin-top:100px;
  margin-bottom:70px;
}

/* **************************************  */
/* *********** Error Page *************  */
/* **************************************  */

.errorImg{
  border:none;

}

#errorPage{
  font-family: Helvetica, Sans-Serif;
  color:#374885
}
